hydra-core
omegaconf
freetype-py
shapely
svgutils
opencv-python
scikit-image
matplotlib
visdom
wandb
BeautifulSoup4
triton
numba
numpy
scipy
scikit-fmm
einops
timm
fairscale==0.4.13
accelerate
transformers
safetensors
datasets
easydict
scikit-learn
pytorch_lightning==2.1.0
webdataset
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git
diffusers==0.20.2
svgwrite
svgpathtools
cssutils
torch-tools